@model IEnumerable<Ogrenci>
@{
    ViewData["Title"] = "Index";
}

<h1>Öğrenci Listesi</h1>
<a asp-action="addstudent" asp-controller="Student" class="btn btn-sm btn-success text-center">Öğrenci Ekle</a>

<table class="table">
    <thead>
        <tr>
            <td>Numara</td>
            <td>Ad</td>
            <td>Soyad</td>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model)
        {
            <tr>
                <td>@item.Numara</td>
                <td>@item.Ad</td>
                <td>@item.Soyad</td>
                <td><a class="btn btn-sm btn-success" href="/Student/EditStudent/@item.Ogrenciid">Düzenle</a> <a class="btn btn-sm btn-danger" href="/Student/DeleteSudent/@item.Ogrenciid" onclick="return confirm('Emin misiniz?')">Sil</a> <a class="btn btn-sm btn-warning" href="/Ders/DersListe/@item.Ogrenciid">Öğrencinin Aldığı Dersler</a></td>
            </tr>
        }
    </tbody>
</table>