@model IEnumerable<Ders>
@{
	ViewData["Title"] = "DersListe";
	int ogrenciId = ViewBag.OgrenciId;
}

<h1>Öğrenciye Ait Dersler</h1>
<a asp-action="DersEkle" asp-controller="Ders" asp-route-ogrenciId="@ogrenciId" class="btn btn-sm btn-success align-center">Ders Ekle</a>

<table class="table">
	<thead>
		<tr>
			<td>Ders Adı</td>
			<td>Kredi</td>
			<th>İşlemler</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Dersad</td>
				<td>@item.Kredi</td>
				<td><a class="btn btn-sm btn-danger" href="/Ders/DeleteDers/@item.Dersid" onclick="return confirm('Emin misiniz?')">Dersi Bırak</a></td>
			</tr>
		}
	</tbody>
</table>